/* Css - Index */
.header__logo {
  width: 100%;
  height: 500px;
  padding: 10px;
  margin: 35px; }

.banner-box {
  display: flex;
  align-items: center;
  justify-content: center; }

.fondo {
  background-image: url("../images/contenedor/contenedor.png");
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #575750;
  margin: 15px;
  list-style: none; }

.head {
  color: yellow;
  font-size: 50px;
  display: grid;
  justify-content: center;
  text-align: center; }

.grid {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
  border-style: solid; }

li {
  list-style: none; }

.lista-css {
  list-style: none; }

#articles {
  color: #f2f3f4; }

input {
  height: 40px;
  width: 22%;
  border-radius: 10px; }

button {
  height: 40px;
  width: 5%;
  border-radius: 10px; }

#aside-sponsor li {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  list-style: none; }

#logi-logo {
  width: 250px;
  height: 200px;
  padding: 10px;
  list-style: none; }

#astros-logo {
  width: 300px;
  height: 200px;
  padding: 10px;
  list-style-type: none; }

#redragon-logo {
  width: 250px;
  height: 200px;
  padding: 10px;
  list-style: none; }

#noganet-logo {
  width: 300px;
  height: 200px;
  padding: 10px;
  list-style: none; }

#hyperx-logo {
  width: 250px;
  height: 200px;
  padding: 10px;
  list-style-type: none; }

#pie-pagina {
  color: #f2f3f4; }

#contact {
  font-size: 15px;
  color: yellow; }

#listas-logos {
  display: grid; }

.navbar {
  height: auto;
  width: 65%;
  margin: 1px;
  border: #575750 solid 0.5px;
  border-left: none;
  border-right: none; }

/* Media Querys */
@media screen and (max-width: 768px) {
  .categorias .contenedor, .nav, .grid-nav, .articles {
    display: grid;
    grid-template-columns: 1 1fr;
    background-color: transparent; } }

/* Css - Quienes Somos */
.armatupc {
  padding: 10px;
  border: solid 1px yellow;
  list-style: none; }

#div-qs {
  color: #aeb6bf; }

.contact {
  font-size: 15px;
  color: yellow; }

.color-letra-contact {
  color: beige; }

/* Css- Perifericos */
#logik123 {
  width: 250px; }

#logik230 {
  width: 250px; }

#logig413 {
  width: 250px; }

#logig915 {
  width: 250px; }

#logi-g305 {
  width: 190px; }

#logi-gpro {
  width: 190px; }

#hyperx-fps {
  width: 190px; }

#hyperx-pulse {
  width: 190px; }

#contact {
  font-size: 15px;
  color: yellow; }

/* Css - Consolas */
#xbox {
  width: 200px;
  height: 250px;
  padding: 10px; }

#ps5 {
  width: 200px;
  height: 250px;
  padding: 10px; }

#xbox1tb {
  width: 200px;
  height: 250px;
  padding: 10px; }

.consolas {
  font-size: 30px;
  color: indianred; }

#contact {
  font-size: 15px;
  color: yellow; }

/* Css - Arma tu PC */
#article-atp {
  color: aliceblue; }

.titulo-color {
  font-size: 30px;
  color: indianred; }

#contact {
  font-size: 15px;
  color: yellow;
  list-style: none; }

.grid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto); }
