/* Css - Index */
.header__logo {
  width: 100%;
  height: 680px;
}

.accordion {
  margin: 3px 200px 3px 200px;
  font-size: medium;
}

h1, h2, h3, h4, h6 {
  color: white;
}

.buscador {
  margin: 0px 650px 0px 650px;
}

.busca {
  color: black;
  border-bottom: 3mm;
  border-color: black;
  background-color: white;
}

.inicio {
  margin: 1px;
  border-style: solid 5px black;
  padding: 1rem;
  height: 480px;
  font-size: 50px;
}

.card {
  border: black .5px solid;
  color: black;
  height: auto;
}

body {
  background: #3C3B3F;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#605C3C), to(#3C3B3F));
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  margin: 3px;
}

.derechos {
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#000000));
  background: linear-gradient(to bottom, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-style: dashed .1px;
}

.head {
  color: yellow;
  font-size: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.grid {
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
}

li {
  list-style: none;
}

.lista-css {
  list-style: none;
}

#articles {
  color: white;
}

#articlesinput {
  height: 40px;
  width: 22%;
  border-radius: 10px;
  font-size: 50px;
}

.contacto {
  font-size: 15px;
  color: white;
  background-color: #000000;
  border-style: solid 1px white;
}

#listas-logos {
  display: -ms-grid;
  display: grid;
}

.navbar {
  background-color: #222222;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  padding: 5px;
  margin: 2px 100px 2px 100px;
  list-style: none;
  text-align: center;
  height: 45px;
  text-transform: none;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: rgba(213, 151, 65, 0.3);
  background-position: center;
}

/* Media Querys */
@media screen and (max-width: 768px) {
  .categorias .contenedor, .nav, .grid-nav, .articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1 1fr;
        grid-template-columns: 1 1fr;
    background-color: transparent;
  }
}

/* Css - Quienes Somos */
.armatupc {
  padding: 10px;
  border: solid 1px yellow;
  list-style: none;
}

#div-qs {
  color: black;
}

.contact {
  font-size: 15px;
  color: yellow;
}

.color-letra-contact {
  color: white;
}

/* Css- Perifericos */
#logik123 {
  width: 250px;
}

#logik123 #logik230 {
  width: 250px;
}

#logik123 #logik230 #logig413 {
  width: 250px;
}

#logig915 {
  width: 250px;
}

#logi-g305 {
  width: 190px;
}

#logi-gpro {
  width: 190px;
}

#hyperx-fps {
  width: 190px;
}

#hyperx-fps #hyperx-pulse {
  width: 190px;
}

#contact {
  font-size: 15px;
  color: yellow;
}

/* Css - Consolas */
#xbox {
  width: 200px;
  height: 250px;
  padding: 10px;
}

#xbox #ps5 {
  width: 200px;
  height: 250px;
  padding: 10px;
}

#xbox #ps5 #xbox1tb {
  width: 200px;
  height: 250px;
  padding: 10px;
}

.consolas {
  font-size: 50px;
  color: indianred;
}

#contact {
  font-size: 15px;
  color: yellow;
}

/* Css - Arma tu PC */
#article-atp {
  color: white;
}

.titulo-color {
  font-size: 50px;
  color: indianred;
}

#contact {
  font-size: 15px;
  color: white;
  list-style: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}
/*# sourceMappingURL=main.css.map */