/* Css - Index */
.header__logo {
  width: 100%;
  padding: 10px;
}

.card {
  border: black .5px solid;
}

body {
  background: white;
  display: -ms-grid;
  display: grid;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  list-style: none;
  margin: 1px;
}

.head {
  color: yellow;
  font-size: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.grid {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
}

li {
  list-style: none;
}

.lista-css {
  list-style: none;
}

#articles {
  color: black;
}

#articlesinput {
  height: 40px;
  width: 22%;
  border-radius: 10px;
}

#aside-sponsor {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

#logi-logo {
  width: 250px;
  height: 200px;
  padding: 10px;
  list-style: none;
}

#astros-logo {
  width: 300px;
  height: 200px;
  padding: 10px;
  list-style-type: none;
}

/* Sass */
#redragon-logo {
  width: 250px;
  height: 200px;
  padding: 10px;
  list-style: none;
}

#redragon-logonoganet-logo {
  width: 300px;
  height: 200px;
  padding: 10px;
  list-style: none;
}

#hyperx-logo {
  width: 250px;
  height: 200px;
  padding: 10px;
  list-style-type: none;
}

#contact {
  font-size: 15px;
  color: yellow;
}

#listas-logos {
  display: -ms-grid;
  display: grid;
}

.navbar {
  background-color: #222222;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  padding: 5px;
  margin: 2px 100px 2px 100px;
  list-style: none;
  text-align: center;
  height: 45px;
  text-transform: none;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: rgba(213, 151, 65, 0.3);
  background-position: center;
}

/* Media Querys */
@media screen and (max-width: 768px) {
  .categorias .contenedor, .nav, .grid-nav, .articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1 1fr;
        grid-template-columns: 1 1fr;
    background-color: transparent;
  }
}

/* Css - Quienes Somos */
.armatupc {
  padding: 10px;
  border: solid 1px yellow;
  list-style: none;
}

#div-qs {
  color: #aeb6bf;
}

.contact {
  font-size: 15px;
  color: yellow;
}

.color-letra-contact {
  color: black;
}

/* Css- Perifericos */
#logik123 {
  width: 250px;
}

#logik123 #logik230 {
  width: 250px;
}

#logik123 #logik230 #logig413 {
  width: 250px;
}

#logig915 {
  width: 250px;
}

#logi-g305 {
  width: 190px;
}

#logi-gpro {
  width: 190px;
}

#hyperx-fps {
  width: 190px;
}

#hyperx-fps #hyperx-pulse {
  width: 190px;
}

#contact {
  font-size: 15px;
  color: yellow;
}

/* Css - Consolas */
#xbox {
  width: 200px;
  height: 250px;
  padding: 10px;
}

#xbox #ps5 {
  width: 200px;
  height: 250px;
  padding: 10px;
}

#xbox #ps5 #xbox1tb {
  width: 200px;
  height: 250px;
  padding: 10px;
}

.consolas {
  font-size: 30px;
  color: indianred;
}

#contact {
  font-size: 15px;
  color: yellow;
}

/* Css - Arma tu PC */
#article-atp {
  color: black;
}

.titulo-color {
  font-size: 30px;
  color: indianred;
}

#contact {
  font-size: 15px;
  color: white;
  list-style: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}
/*# sourceMappingURL=main.css.map */